README.md filter=lfs diff=lfs merge=lfs -text
YAI[[:space:]]project filter=lfs diff=lfs merge=lfs -text
YAI[[:space:]]과제 filter=lfs diff=lfs merge=lfs -text
assignments filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
MNIST_data filter=lfs diff=lfs merge=lfs -text
